* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --color-primary: #e2e2e2;
  --color-primary-2: hsla(0, 0%, 100%, 0.87);

  --color-background: #282828;
  --color-background-2: #363636;

  --line: solid 1px hsla(0, 0%, 100%, 0.1);
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  transition: all .3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background: #3d5af1;
  color: #fff;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

div.nav-item a {
  margin-left: 10px;
  margin-right: 10px;
}

form {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

form label {
  font-size: 2.5rem;
}

form input {
  /* font-size: 1.8rem; */
  padding: 2rem;
  width: 30%;
  border-radius: 5rem;
  border: 0;
  border: var(--line);
  margin-left: 2rem;
}

form button {
  margin-left: 2rem;
  padding: 2rem 3.5rem;
  border-radius: 5rem;
  border: none;
  border: var(--line);
  cursor: pointer;
}

.movie {
  flex: 0 0 200px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.movie_wrapper {
  height: calc(100vh - 80px);
}

.single-movie {
  display: flex;
  margin-top: 6rem;
}

.img_poster {
  max-width: 300px;
}

.img_poster img {
  border-radius: 10px;
}

.movie_details {
  display: flex;
  padding-left: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.overview {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

header {
  font-size: 1.8rem;
  margin-bottom: .8rem;
}

@media screen and (max-width: 576px) {
  .single-movie {
    flex-direction: column;
    align-items: center;
  }

  .movie_details {
    padding: 2.5rem 2rem 1rem;
  }

  .img_poster img {
    border-radius: 10px;
    height: 400px;
  }
}

@media screen and (max-width: 375px) {
  nav {
    padding-left: 10px;
    padding-right: 10px;
  }

  div.nav-item a {
    margin-left: 5px;
    margin-right: 5px;
  }

  .img_poster img {
    border-radius: 10px;
    height: 400px;
  }
}